canvas {
  position: fixed;
  top: 0;
  left: 0;
}

div {
  position: absolute;
  top: 55%;
  left: 0;
  display: block;
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 11em;
  font-family: sans-serif;
  opacity: 0.95;
  text-shadow: 1px 1px 1px #919191,
  1px 2px 1px #919191,
  1px 3px 1px #919191,
  1px 4px 1px #919191,
  1px 5px 1px #919191,
  1px 6px 1px #919191,
  1px 7px 1px #919191,
  1px 8px 1px #919191,
  1px 9px 1px #919191,
  1px 10px 1px #919191,
  1px 18px 6px rgba(16,16,16,0.4),
  1px 22px 10px rgba(16,16,16,0.2),
  1px 25px 35px rgba(16,16,16,0.2),
  1px 30px 60px rgba(16,16,16,0.4);
  margin: 0;
}

h3 {
  text-align: center;
  font-family: sans-serif;
  text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  margin: 0;
  margin-bottom: 15px;
  opacity: 0.8;
}